cohere
fpdf
langchain 
langchain-cohere 
langchain-community
langchain-core
langchain-experimental
langchain-text-splitters
langgraph
faiss-cpu 
pypdf 
pymupdf
pandas 
rank-bm25
streamlit 
python-dotenv
matplotlib
seaborn